language: android

android:
  components:
  # Use the latest revision of Android SDK Tools
  - tools
  - platform-tools

  # The BuildTools version used by your project
  - build-tools-23.0.2

  # The SDK version used to compile your project
  - android-23

  # For AppCompat
  - extra

  # For emulator. Cannot use x86 w/o HW acceleration, which is provided by KVM.
  - sys-img-armeabi-v7a-android-23

# Emulator Management: Create, Start and Wait
before_script:
- echo no | android create avd --force -n test -t android-23 --abi default/armeabi-v7a
- emulator -avd test -no-audio -no-window &
- android-wait-for-emulator
# Ping the emulator to make sure it's up
- adb shell input keyevent 82 # KEYCODE_MENU

after_script:
- pip install --user gsutil
- cd app/build
# Build a poor man's index
- echo
  "<h1>Artifacts for <a href=https://github.com/${TRAVIS_REPO_SLUG?}/compare/${TRAVIS_COMMIT_RANGE?}>commit ${TRAVIS_COMMIT?}</a></h1><pre>"
  >index.html
- find . -type f -exec echo "<a href='{}'>{}</a><br/>" \; | sort >>index.html
# Upload build artifacts to GCS
- ARTIFACTS_PATH=${GSUTIL_BUCKET?}/${TRAVIS_REPO_SLUG?}/${TRAVIS_PULL_REQUEST/false/${TRAVIS_BRANCH?}}
- gsutil -m
  -o "Credentials:gs_oauth2_refresh_token=${GSUTIL_TOKEN?}"
  -o "GSUtil:default_project_id=${GSUTIL_PROJECT?}"
  rsync -d -r . "gs://${ARTIFACTS_PATH?}"
- echo "Artifacts uploaded to http://${ARTIFACTS_PATH?}"

before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"

jdk:
- oraclejdk8

branches:
  only:
  - master
